.memorial-card {
    width: 25rem;
    margin: 1.25rem;
}

.memorial-card .date {
    float: right;
}

.memorial-card .logo {
    width: 50px;
    position: absolute;
    margin: 5px;
    right: 0;

}

#records_container {
    padding: 50px;
}

.jumbotron {
    margin-top: 1rem;
}

.memorial-card .bottomstuff {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    width: 100%;
    background-color: #303030;
    /* Set the dynamic height of the footer by content */
    padding: 15px 0;
}

.footer .container {
    display: flex;
    align-items: center;
}
