.memorial-card {
    margin: 1.25rem;
    width: 25rem;
}

.memorial-card .card-img-top {
    max-height: 22rem;
    object-fit: cover;
}

.memorial-card .date {
    text-align: right;
    flex: 1 0 auto;
}

.memorial-card .logo {
    width: 50px;
    position: absolute;
    margin: 5px;
    right: 0;

}

#records_container {
    padding: 50px;
}

.jumbotron {
    margin-top: 1rem;
}

.memorial-card .bottomstuff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 1rem;
}

.memorial-card .bottomstuff .btn {
    flex: 1 1 auto;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    width: 100%;
    background-color: #303030;
    /* Set the dynamic height of the footer by content */
    padding: 15px 0;
}

.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body > div.container.description {
    padding-top: 80px !important;
}
