.memorial-card {
    width: 25rem;
    margin: 1.25rem;
}

.memorial-card .date {
    float: right;
}

.memorial-card .logo {
    width: 50px;
    position: absolute;
    margin: 5px;
    right: 0;

}

#records_container {
    padding: 50px;
}

.jumbotron {
    margin-top: 1rem;
}

/*.memorial-card .bottomstuff {
    bottom: 0;
    left: 0;
    position: absolute;
    margin-bottom: 1.25rem;
    margin-left: 1.25rem;
}*/
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #303030;
}

body > div.container.description {
    padding-top: 80px !important;
}
