$logos: (
    'igromania': 'igromania.svg',
    'igromania_other': 'igromania.svg',
    'dtf': 'dtf.png',
    'stopgame': 'stopgame.png',
    'kanobu': 'kanobu.png',
    'lki': 'lki.png',
    'bestgamer': 'bestgamerICON.png',
    'zog': 'zog.png',
    'vch': 'vch.png'
);

body, nav {
    min-width: 340px;
}

.memorial-card {
    position: relative;
    height: 100%;

    .logo {
        width: 50px;
        position: absolute;
        margin: 5px;
        right: 0;
    }

    .card-img-top {
        width: 100% !important;
        height: auto !important;
        min-height: 1px;
    }

    .date-span {
        padding: 0.25rem 0.25rem;
    }

    animation: .5s fadeIn;
    animation-fill-mode: forwards;

    visibility: hidden;

    &::before {
        position: absolute;
        top: 5px;
        right: 5px;
        content: '';

        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;

        width: 40px;
        height: 40px;

        opacity: .7;
    }

    @each $tag, $logo in $logos {
        &[data-what="#{$tag}"]::before {
            background-image: url('../res/image/#{$logo}');
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.footer {
    width: 100%;
    background-color: #303030;
    padding: 15px 0;

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.description {
    padding-top: 100px !important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #303030;
    border-radius: 0.3rem;

    .extra-links {
        .btn {
            margin-top: 5px;
        }
    }
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}

#records_container {
    max-width: 100%;
}


.container-fluid {
    width: 95%;
}

$pagination-color: #ffffff !default;
$pagination-bg: #375a7f !default;
$pagination-border-width: 0 !default;
$pagination-border-color: transparent !default;

$pagination-hover-color: #ffffff !default;
$pagination-hover-bg: lighten($pagination-bg, 10%) !default;
$pagination-hover-border-color: transparent !default;

$pagination-active-bg: $pagination-hover-bg !default;
$pagination-active-border-color: transparent !default;

$pagination-disabled-color: #ffffff !default;
$pagination-disabled-bg: darken($pagination-bg, 15%) !default;
$pagination-disabled-border-color: transparent !default;

.page-link {
    color: $pagination-color;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;

    &:hover {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
    }
}

.page-item {
    &.active .page-link {
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border-color;
    }

    &.disabled .page-link {
        color: $pagination-disabled-color;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border-color;
    }
}

.bottom-filter-navbar {
    margin-top: 70px;
}

.navbar-icon {
    width: 30px;
    height: 30px;
}

.badge-tag {
    cursor: pointer;
    margin-right: 4px;
}
