#about {
	margin-top: 20px;
}

.memorial-card {
    height: 100%;

    .logo {
        width: 50px;
        position: absolute;
        margin: 5px;
        right: 0;
    }

    .card-img-top {
        width: 100% !important;
        height: auto !important;
        min-height: 1px;
    }

    .date-span {
        padding: 0.25rem 0.25rem;
    }
}

.footer {
    width: 100%;
    background-color: #303030;
    padding: 15px 0;

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.description, .pagination {
    padding-top: 80px !important;
}

.pagination {
	padding-bottom: 60px;
}

#records_container {
    max-width: 100%;
}

.container-fluid {
    width: 95%;
}

.hidden {
    display:none !important;
}

.active > .bg-primary, .active > .bg-primary, .bg-primary.active, .bg-primary.active  {
    background-color: #28415b !important;
}
